<header class="shadow-sm">
    <div class="top-header bg-black text-white text-center py-1">
        <div class="max-w-7xl mx-auto relative">
            <span>Sign up and get 20% off to your first order. <a class="underline" href="#">Sign Up Now</a></span>
            <button class="absolute right-0 top-1"><img src="/images/close.svg"/></button>
        </div>
    </div>
    <div class="bot-header">
        <div class="max-w-7xl mx-auto flex justify-between items-center py-5">
            <div class="left flex gap-10">
                <a href="/"><img src="/images/logo.svg"/></a>
                <nav>
                    <ul class="flex gap-5 [&_a]:py-10 [&_a]:px-1">
                        <li>
                            <a href="#">Shop</a>
                        </li>
                        <li>
                            <a href="#">On Sale</a>
                        </li>
                        <li>
                            <a href="#">New Arrivals</a>
                        </li>
                        <li>
                            <a href="#">Brands</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="right flex gap-6">
                <form class="relative">
                    <button class="absolute left-2 top-2"><img src="/images/search.svg"/></button>
                    <input class="rounded-3xl outline-0 w-xl bg-[#F0F0F0] py-2 pl-10 pr-2" type="text" placeholder="Search for products..."/>
                </form>
                <div class="flex items-center gap-4">
                    <button><img src="/images/cart.svg"/></button>
                    <button><img src="/images/user.svg"/></button>
                </div>
            </div>
        </div>
    </div>
</header>